.country-modal {
   display: flex;
   padding-top: 100px;
   justify-content: center;
}

.country-modal__card {
   width: 60%;
   height: 200px;
}

.country-modal__card-item {
   padding: 5px 0;
   border-bottom: 1px solid lightgray;
}

.country-modal__card-item span {
   font-weight: bold;
}